.dados_pessoais {
    display: inline-block;
    width: 30%;
    height: 100%;
    background-color: var(--cinza-escuro);
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}

h1 {
    text-align: center;
    margin: 1rem 0;
}

.cabecalho_foto {
    width: 30%;
    border-radius: 50%;
    margin: 0 auto;
}

.cabecalho_nome {
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--rosa-salmao);
    margin-bottom: 1rem;
}

.cabecalho_cargo {
    font-family: var(--opensans);
    font-weight: 400;
    text-transform: uppercase;
    color: var(--rosa-salmao);
    padding: 2rem;
}

hr {
    width: 80%;
    border-radius: 2px;
}

.perfil {
    margin-top: 2rem;
}

.pessoal {
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--rosa-salmao);
    margin-bottom: 1rem;
}

.pessoal_bloco {
    width: 72%;
    margin: 1rem 3rem 2rem 3rem;
}

.perfil_descricao {
    color: #FFF;
    text-align: justify;
}

.habilidades_lista {
    color: #FFF;
    line-height: 1.5rem;
}

.contato_lista {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3.5rem;
}

.icone:hover {
    transform: scale(2);
}





/* Seção do histórico */

.historico {
    display: inline-block;
    background-color: var(--branco-gelo);
    vertical-align: top;
}


/* Seção Mobile*/

@media screen and (max-width: 768px){
    .dados_pessoais {
        display: block;
        width: 100%;
    }

    .historico {
        display: block;
    }
    
    .contato_lista {
        padding-bottom: 4rem;
    }

}